repositories-directive
  #repositories.container(class="fadeIn", ng-class="{ hidden: loading }", ng-cloak)
    ul
      li(ng-repeat="repository in repositories")
        .github-box
          .github-box-header
            h3
              a(href="http://github.com/{{repository.full_name}}", target="_blank") {{repository.name}}