#repositories
  ul
    li(ng-repeat="repository in repositories")
      a(href="http://github.com/{{repository.full_name}}" target="_blank")
        h2 {{repository.name}}
        p {{repository.description}}