@import url(http://fonts.googleapis.com/css?family=Oswald:400,300);

body
  background #000

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak
  display none !important

.fadeIn
  transition .3s ease-in-out opacity
  opacity 1
  overflow hidden
  height auto

  &.hidden 
    opacity 0 
    height 0
    overflow hidden

a
  padding-bottom 5px
  border-bottom 1px solid transparent
  outline none
  &:hover, &.active
    color #5b007a !important
    border-bottom 1px solid #5b007a


.container
  position relative
  top 0
  left 0
  width 100%

#loader
  position absolute
  top 0
  left 0
  width 100%
  height 100%
  background #000

  p
    position absolute
    top 50%
    margin-top -15px
    width 100%
    text-align center
    font-family 'Oswald', sans-serif
    font-weight 300
    letter-spacing 1px
    font-size 30px
    color #fff

#content
  position relative
  overflow auto
  display block
  margin 0 auto
  padding 0 50px

  ng-view
    position relative
    width 100%
    height 100%
    overflow auto
    z-index 0

#header
  position relative
  z-index 99
  padding 20px 20px 30px
  overflow hidden

  .logo_small
    h1
      float left
      margin-left 10px
      font-family 'Oswald', sans-serif
      font-weight 300
      letter-spacing 1px
      font-size 16px
      color #fff
      text-transform uppercase

  ul
    float right
    margin-right 10px
    li
      display inline-block
      margin-left 20px
      a
        font-family 'Oswald', sans-serif
        font-weight 300
        letter-spacing 1px
        font-size 16px
        line-height 12px
        color #a6c53c
        text-decoration none

about-directive
  display table
  position relative
  max-width 1280px
  margin 0 auto
  text-align center
  height inherit
  #about
    display:table-cell;
    vertical-align: middle;
    h2
      background:url("/images/logo.jpg") no-repeat top center
      width 100%
      height 91px
      text-indent -9999px

    p
      margin-top 25px
      font-family 'Oswald', sans-serif
      font-weight 300
      letter-spacing 1px
      font-size 16px
      line-height 22px
      color #b3b3b3

      a
        margin-top 25px
        display block
        color #a6c53c
        font-weight 400

repositories-directive
  display table
  position relative
  max-width 1280px
  margin 0 auto
  text-align center
  height inherit
  #repositories
    display:table-cell;
    vertical-align: middle;
    ul
      text-align center
      li
        display inline-block
        margin 10px
        .github-box
          background none repeat scroll 0 0 #fafafa
          border 1px solid #ddd
          border-radius 5px
          width 100%
          a
            border medium none
            color #4183c4
          .github-box-header
            background linear-gradient(#fcfcfc, #ebebeb) repeat scroll 0 0 rgba(0, 0, 0, 0)
            border-bottom 1px solid #ddd
            border-radius 5px 5px 0 0
            position relative
            h3
              color gray
              font-family 'Oswald', sans-serif
              font-weight 400
              font-size 16px
              padding 10px
              text-align center
              a
                color #4183c4
                text-decoration none

projects-directive
  display table
  position relative
  max-width 1280px
  margin 0 auto
  text-align center
  height inherit
  #projects
    display:table-cell;
    vertical-align: middle;
    ul
      display block
      text-align center
      li
        background url("/images/loader-image.gif") no-repeat center center
        margin 10px
        overflow hidden
        display inline-block
        vertical-align top
        a
          color #5b007a
          width 300px
          height 199px
          position relative
          display block
          text-decoration none
          background-position center center
          background-repeat no-repeat
          background-size 300px 199px
          border-bottom 0px

          .bg
            overfow hidden
            position absolute
            top 0
            left 0
            background rgba(0,0,0,.5)
            width 100%
            height 100%
            transition background .25s ease-out

            .text
              display table
              position absolute
              top 0
              left -100%
              width 100%
              height 100%
              padding 0 20px
              transition: left .25s ease-out
              -webkit-box-sizing border-box
              -moz-box-sizing border-box
              box-sizing border-box
              
              span
                display table-cell
                vertical-align middle

                h3
                  font-family 'Oswald', sans-serif
                  font-weight 300
                  letter-spacing 1px
                  font-size 16px
                  line-height 22px
                  color #a6c53c
                  margin-bottom 5px

                p
                  font-family 'Oswald', sans-serif
                  font-weight 300
                  letter-spacing 1px
                  font-size 14px
                  line-height 20px
                  color #e6e6e6

          &:hover
            .bg
              background rgba(0,0,0,.8)

              .text
                left 0

#footer
  position relative
  z-index 99
  padding 30px 0
  text-align center
  ul
    li
      display inline-block
      margin 0 5px
      a
        font-family 'Oswald', sans-serif
        font-weight 300
        color #a6c53c
        letter-spacing 1px
        text-decoration none