body
  background #1b1b1b

#about
  p
    color orange

#repositories
  ul
    li
      a
        text-decoration none

        h2
          color green
          font-weight bold

        p
          color grey

#projects
  ul
    display block
    text-align center
    li
      margin 10px
      overflow hidden
      display inline-block
      vertical-align top
      a
        color #5b007a
        width 300px
        height 199px
        position relative
        display block
        text-decoration none
        background-position top center
        background-repeat no-repeat

        .text
          position absolute
          top 0
          left 0
          background rgba(0,0,0,.3)
          width 100%
          height 100%

#footer
  p
    color #a6c53c