#about
  p
    color orange

#repositories
  ul
    li
      a
        text-decoration none

        h2
          color green
          font-weight bold

        p
          color grey

#projects
  a
    text-decoration none

    h2
      color black
      font-weight bold

    p
      color red

    img
      width 355px
      height auto