#footer
  ul
    li
      a(href="https://www.linkedin.com/in/meandrade", target="_blank") linkedin
    li
      a(href="http://facebook.com/marcelinhov2", target="_blank") facebook
    li
      a(href="http://github.com/marcelinhov2", target="_blank") github
