#footer
  ul
    li
      a(href="https://www.linkedin.com/in/meandrade") linkedin
    li
      a(href="http://facebook.com/marcelinhov2") facebook
    li
      a(href="http://github.com/marcelinhov2") github
