#header
  .centralize
    .logo_small
      h1 the frontend guy

    ul
      li
        a(href="/") About
      li
        a(href="/projects") Projects
      li
        a(href="/repositories") Repositories

