#header
  .centralize
    .logo_small
      img(src="/images/logo_small.jpg")

    ul
      li
        a(href="/about") About
      li
        a(href="/projects") Projects
      li
        a(href="/repositories") Repositories

