doctype html

html(lang="en")
  head
    meta(charset='utf-8')
    title Portfólio Marcelo Andrade
    // inject:css 
    // endinject 
  body(ng-app="app" app-directive)
    #wrap
      #loader 
        p Loading...
        
      header-directive
      #content
        ng-view(id="ng_view")
      footer-directive

    // inject:js 
    // endinject 
